package godb
{{ $td := . }}
/* ==============================================================
   this is generated code, changes will be overwritten
   ============================================================== */

/*
#include "table.h"
#include "tables.h"
#include "statements.h"
*/
import "C"
{{ $td.Imports }}{{ range $db := .L.Databases }}{{ range $tbl := $db.Tables }}{{ $tblif := printf "%s_%s" (Title $db.Name) (Title $tbl.Name) }}{{ $tblimpl := printf "%s_%s_Impl" (Title $db.Name) (Title $tbl.Name) }}
/* ==============================================================
   table {{ $db.Name }}.{{ $tbl.Name }}
   ============================================================== */
type {{ $tblif }} interface { {{ range $col := $tbl.Columns }}
	// {{ Title $col.Name }} returns pointer to value of column {{ $col.Name }}
	{{ Title $col.Name }}()*{{ $td.DataType $col }}{{ end }}
}

type {{ $tblimpl }} struct { 
	dbtbl DBTable
}

// New{{ $tblif }} creates a new instance of a {{ $tblif }} interface
func New{{ $tblif }}(rows uint32){{ $tblif }} {
	t := new({{ $tblimpl }})
	t.dbtbl = NewDBTable(t.TableDef(),rows)
	return t
}

// CTable implements DBTable interface
func (t *{{ $tblimpl }})CTable()*C.DBTable {
	return t.dbtbl.CTable()
}

// TableDef implements DBTable interface
func (*{{ $tblimpl }})TableDef()DBTableDef {	
	return NewDBTableDef(C.{{ $db.Name }}_{{ $tbl.Name }}_tbldef())
}
{{ range $col := $tbl.Columns }}
// {{ Title $col.Name }} implements {{ $tblif }} interface
func (t *{{ $tblimpl }}){{ Title $col.Name }}()*{{ $td.DataType $col }} {
	return nil
}{{ end }}

// CInsertStmt implements InsertStmt interface
func (t *{{ $tblimpl }})CInsertStmt()*C.InsertStmt {
	return nil
}

// CDeleteStmt implements DeleteStmt interface
func (t *{{ $tblimpl }})CDeleteStmt()*C.DeleteStmt {
	return nil
}

// CUpdateStmt implements UpdateStmt interface
func (t *{{ $tblimpl }})CUpdateStmt()*C.UpdateStmt {
	return nil
}

// CUpsertStmt implements UpsertStmt interface
func (t *{{ $tblimpl }})CUpsertStmt()*C.UpsertStmt {
	return nil
}
{{ end }}{{/* tables */}}{{ end }}{{/* databases */}}