package godb

{{ $td := . }}{{ $td.Imports }}{{ range $db := .L.Databases }}{{ range $tbl := $db.Tables }}
/*  ==============================================================
	table {{ $db.Name }}.{{ $tbl.Name }}
    ============================================================== */
type {{ $db.Name }}_{{ $tbl.Name }} interface { {{ range $col := $tbl.Columns }}
	Get_{{ $col.Name }}()*{{ $td.DataType $col }}
	Set_{{ $col.Name }}(*{{ $td.DataType $col }}){{ end }}{{/* columns */}}
}

type {{ $db.Name }}_{{ $tbl.Name }}_impl struct { {{ range $col := $tbl.Columns }}
	{{ ToLower $col.Name }} *{{ $td.DataType $col }}{{ end }}{{/* columns */}}
}

func New_{{ $db.Name }}_{{ $tbl.Name }}(){{ $db.Name }}_{{ $tbl.Name }} {
	return new({{ $db.Name }}_{{ $tbl.Name }}_impl)
}
{{ range $col := $tbl.Columns }}
func (t *{{ $db.Name }}_{{ $tbl.Name }}_impl)Get_{{ $col.Name }}()*{{ $td.DataType $col }} {
	return t.{{ ToLower $col.Name }}
}

func (t *{{ $db.Name }}_{{ $tbl.Name }}_impl)Set_{{ $col.Name }}(val *{{ $td.DataType $col }}){
	if t.{{ ToLower $col.Name }} == nil {
		t.{{ ToLower $col.Name }} = new({{ $td.DataType $col }})
	}
	*(t.{{ ToLower $col.Name }}) = *val
}
{{ end }}{{/* columns */}}{{ end }}{{/* tables */}}{{ end }}{{/* databases */}}