#pragma once

/* ==============================================================
   this is generated code, changes will be overwritten
   ============================================================== */

#include <stdint.h>

typedef enum _DBColumnType { {{ range $ti,$ts := .L.TypeStrings }}
	COL_TYPE_{{ $ts | ToUpper }} = {{ $ti }},{{ end }}
	COL_TYPE_MAX
} DBColumnType;