#pragma once

#include <stdint.h>

typedef enum _DBColumnType { {{ with .L }}{{ range $ti,$ts := .TypeStrings }}
	COL_TYPE_{{ $ts | ToUpper }} = {{ $ti }},{{ end }}{{ end }}
	COL_TYPE_MAX
} DBColumnType;