#ifdef _DB_TEST_VERSION

#pragma once

/* ==============================================================
   this is generated code, changes will be overwritten
   ============================================================== */

struct _DBHandle;

void test_tables_static();
void test_tables_db(struct _DBHandle *dbh);

#endif