{{ $td := . }}{{ range $db := $td.Layouter.Layout.Databases }}{{ if $td.Recreate }}
DROP DATABASE IF EXISTS {{ $db.Name }};{{ end }}
CREATE DATABASE {{ $db.Name }} {{ DBOpts $td.Layouter $db.Name }};{{ end }}