{{ $td := . }}{{ range $db := .Layouter.Layout.Databases }}{{ UseDB $db.Name }}{{ range $tbl := $db.Tables }}{{ range $i,$k := $tbl.IndexKeys }}
CREATE INDEX IDX_{{ $db.Name }}_{{ $tbl.Name }}_{{ $k.Column }} ON {{ $tbl.Name }} {{ IndexSpec $td.Layouter $db.Name $tbl.Name $k }};
{{ end }}{{ end }}{{ end }}